.vscode
/dating-backend/dating.db
/dating-backend/debug_test.exe
dating.db
debug_test.exe
cmd\dating.db
dating-backend/cmd/__debug_bin.exe
dating-backend/cmd/__debug_bin.exe3404831187
dating-backend/cmd/myapp
dating-backend/cmd/__debug_bin.exe2210361682
