.vscode
/dating-backend/dating.db
/dating-backend/debug_test.exe
dating.db
debug_test.exe
cmd\dating.db
dating-backend/cmd/__debug_bin.exe
dating-backend/cmd/__debug_bin.exe3404831187
dating-backend/cmd/myapp
dating-backend/cmd/__debug_bin.exe2210361682
dating-backend/cmd/dating.db-journal
dating-backend/cmd/__debug_bin.exe3887670071
dating-backend/cmd/__debug_bin.exe324002763
dating-backend/cmd/__debug_bin.exe2847850816
dating-backend/cmd/__debug_bin.exe4294496038
dating-backend/cmd